
body {
    background-color:#2e3047;
}

footer {
    color:#fff;
    text-align: center;
}

html {
    min-width: 280px;
}

table {
    border:1px solid black;
    border-spacing: 0px;
    margin: auto;
    background-color: #fff;
}

.square {
    border: 1px solid #3f5a54 !important;
    padding:0; 
    margin:0;
    width:150px;
    height:150px;
}

#actual-game {
    background-color:#2e3047;
    min-width: 280px;
    min-height: 450px;
    padding: 5%;
}
#game-control {
    background-color:#2e3047;
    min-width: 280px;
    min-height: 300px;
    padding: 5%;
}

#button {
    text-align: center;
    size-adjust: 150%;
}

#game-infos, #game-control {
    margin: auto; 
    background-color:#2e3047;
}

#main {
    min-width: 400px;
    background-color:#2e3047; 
}

#message,h2 {
    padding-bottom:5%;
    font-weight:bold;
    color:#3bba9c;
}

#title {
    padding-bottom:5%;
    text-align: center;
    font-size: 3rem;
    color:#3bba9c;
}

.row {
    --bs-gutter-x: 0rem;
}

@media (max-width:1010px) and (min-width:500px) {
    #actual-game, #main, #game-control {
        width:100%;
    }

    #actual-game {
        min-width:375px;
    }

    img {
        width: auto; 
        height: auto;
    }

    .col-lg-6 {
        min-width: 1011px;
    }
}

@media (max-width:500px) {
    img, .square {
        width:105px;;
        height:105px;
    }

    #actual-game {
        padding: 20px 0 0 0;
        min-height:320px;
    
    } 

    #main {
        min-width: 320px;
    }

    #title {
        font-size: 2rem;
    }
}

@media only screen and (max-width:281px) {
        img, .square {
            width:85px;;
            height:85px;
        }

        #actual-game {
            padding: 20px 0;
        } 

        #main {
            min-width: 280px;
        }
}
